.root {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.nodeContainer {
  border: 1px solid;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.icon {
  display: block;
  margin: 0 auto;
  height: 2rem;
  width: 2rem;
}
